Flask==3.0.3
gunicorn==20.1.0
langchain==0.2.3
langchain-core==0.2.5
langchain-community==0.2.4
langchain-openai==0.1.8
langchain-google-firestore==0.3.0
firebase-admin==6.5.0
beautifulsoup4==4.12.3
jsonify==0.5
faiss-cpu==1.8.0
Flask-Cors==4.0.1
